*{
    box-sizing: border-box;
}



/* HELPERS */

.flex {
    display: flex;
}

.btn{
    margin: 30px;
}

/* BODY */
body{
    background-color: rgb(216, 87, 48);
    padding:5px;
    font-family: cursive;
}
body>*{
    /* border: 2px solid black; */
}
.main-location-container>*{
    border: 2px solid black;
}


/* HEADER */
header{
    display: flex;

    justify-content: space-between;
}


h1{
    font-family: monospace;
    font-size: 2rem;
}


.input-container-head{
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

/* LOCATION DISPLAY AND COPY */
.location-copy{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;

    
}
.span{
    font-weight: 700;
    font-size: 3rem;
}

/* MAIN */
.location-container{
    display: flex;
}
.location-container>*{
    flex-basis: 50%;
}


/* WEATHER AND TABLE CONTAINER */
.main-weath-loc-container{
    display: flex;
    flex-direction: column;
}
.main-weath-loc-container>*{
    flex-basis: 50%;
}

/* TABLE SETTING */

.location-table{
    border: 2px solid black;
}
.location-table td{
    border: 2px solid black;
}
.footer-container{
    text-align: center;
}